body {
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
  color: #fff;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid #fff;
  width: 300px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#login-form {
  margin-bottom: 80px;
}

#clock {
  display: flex;
  justify-content: center;
  color: #fff;
}

.size {
  height: 100vh;
}

h2 {
  font-size: 100px;
}

#weather {
  position: absolute;
  right: 15px;
  top: 10px;
}

.hidden {
  display: none;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

form {
  display: flex;
  justify-content: center;
}

input:focus {
  outline: none;
}

ul {
  list-style-image: url(toDoIcon.png);
  font-size: 30px;
  font-weight: bold;
}

button img {
  border: none;
  background-color: transparent;
}

button {
  border: none;
  background-color: transparent;
}

@media (max-width: 800px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    margin-top: 100px;
    font-size: 50px;
  }

  input {
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #fff;
    width: 240px;
    padding-bottom: 15px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
}
