body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.top {
  padding: 8px;
  display: flex;
  justify-content: end;
  position: relative;
}

.menu {
  height: 48px;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-size: 13px;
  padding-left: 15px;
}

.logo {
  margin: 98px 0 38px 0;
  display: flex;
  justify-content: center;
}

img {
  display: block;
}

input {
  width: 460px;
  height: 42px;
  font-size: inherit;
}

.searching > * {
  display: inline;
}

form {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: center;
}

.click {
  margin-top: 30px;
  width: 112px;
  height: 112px;
  display: flex;
  justify-content: center;
  position: relative;
}

object {
  position: absolute;
  top: 22px;
}

.circle {
  top: 10px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #f1f3f4;
  position: absolute;
  z-index: -1;
}

.text {
  font-size: 13px;
  position: absolute;
  bottom: 20px;
}
