body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.top {
  padding: 8px;
  display: flex;
  justify-content: end;
  position: relative;
}

.menu {
  height: 48px;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-size: 13px;
  padding-left: 15px;
}

.logo {
  margin: 98px 0 38px 0;
  display: flex;
  justify-content: center;
}

img {
  display: block;
}

input {
  width: 460px;
  height: 42px;
  font-size: inherit;
  border: none;
}

.searching > * {
  display: inline-block;
}

form {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: center;
}

.click {
  margin-top: 30px;
  width: 112px;
  height: 112px;
  display: flex;
  justify-content: center;
  position: relative;
}

object {
  position: absolute;
  top: 22px;
}

.circle {
  top: 10px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #f1f3f4;
  position: absolute;
  z-index: -1;
}

.text {
  font-size: 13px;
  position: absolute;
  bottom: 20px;
}

.searching {
  padding-left: 48px;
  padding-right: 48px;
  box-shadow: 0px 0px 5px 1px rgb(213, 213, 213);
  border-radius: 25px;
  position: relative;
}

.gamja {
  top : 12px;
  left : 17px;
  width: 20px;
  position: absolute;
}

.jumuk {
  top : 11px;
  right: 17px;
  width: 21px;
  position: absolute;
}

@media (max-width: 430px) {
  .gamja {
    top: 7.5px;
    left: 15px;
  }

  .jumuk {
    top: 7px;
    right: 15px;
  }

  .searching {
    padding-left: 48px;
    padding-right: 48px;
    box-shadow: 0px 0px 5px 1px rgb(213, 213, 213);
    border-radius: 25px;
    position: relative;
  }

  input {
    width: 250px;
    height: 35px;
    font-size: inherit;
    border: none;
  }

  ::placeholder {
    font-size: 14px;
  }
}
